/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400&display=swap');

/*---------------------------------------
Images
---------------------------------------*/

/*--Hero image--*/

.hero-home{
    background-image: url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    min-height: 100vh;

}

.scb-image,
.tlp-image,
.wb-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/*--Contact page image--*/

#contact-img{
    background: url("../images/contact-tom-smile.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 120vh;
    margin:0;
    background-color: rgba(51, 51, 51, 0.5);
}

/*---------------------------------------
Buttons
---------------------------------------*/

/*--Burger menu in navbar--*/

.burger-menu{
    margin: 8px;
}

.navbar-light .navbar-toggler {
    color: #4c1130;
    border-color: #4c1130;
}

/*--Homepage buttons--*/

#download-btn{
    margin: 25px;
    padding: 6px;
    text-align: center;
}

#home-contact-btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

#download-btn i,
#home-contact-btn i{
    color: #f5f5f5;
}

#download-btn a,
#home-contact-btn a{
    padding: 11px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #f5f5f5;
    border-radius: 25px;
    background-color: #4c1130;
    text-decoration: none;
}

#download-btn:hover,
#home-contact-btn:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

.contact-btn-home-spacing{
    margin: 29px 0px 20px 0px;
}

/*--Ensemble page buttons--*/

.ensemb-contact-btn{
    margin: 16px 0px 16px 0px;
}

.mobile-ensemb-contact-btn{
    display: none;
}

.ensemb-contact-btn a{
    padding: 8px;
    color: #f5f5f5;
    background-color: #4c1130;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}

.ensemb-contact-btn:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

/*--Contact page buttons--*/

button[type="submit"] {
    margin-top: 12px;
    color:#f5f5f5;
    background-color:#4C1130;
}

.contact-submit-btn{
    padding: 8px;
    color: #f5f5f5;
    background-color: #4c1130;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-radius: 25px;
    text-decoration: none;
}

.contact-submit-btn:hover{
    background-color: #4c1130;
    text-decoration: underline;
    text-transform: uppercase;
}

/*---------------------------------------
Header
---------------------------------------*/

#header{
    padding: 0;
    background-color: #f5f5f5;
}

/*--Logo--*/

#logo{
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    color: #333;
    letter-spacing: 2px;
    text-decoration: none;
}

/*--Navbar--*/

#menu{
    margin: 0px 147px 0px 0px;
    padding: 0;
}

#menu a{
    padding: 4px 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    color: #4c1130;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover{
    border-radius: 25px;
    padding: 8px;
    color: #f5f5f5;
    background-color: rgba(76, 17, 48, 0.75);
}

#menu > .active{
    text-decoration: underline;
}



/*---------------------------------------
Footer
---------------------------------------*/

#home-footer{
    margin: 0;
    padding:0;
    background-color: #f5f5f5;
}

/*--Social media icons--*/

#social-icons{
    padding-top: 40px;
}

#social-icons ul{
    margin: 4px 0px 4px 0px;
    padding: 0;
}

#social-icons i{
    padding: 0;
    font-size: 1.75rem;
    color: #4c1130;
}

/*--Copyright information--*/

#copyright-info,
#copyright-info span{
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    color: #4c1130;
}

#copyright-info i{
    font-size: 1.25rem; 
}

/*---------------------------------------
Home page
---------------------------------------*/

#home-style{
    padding-top: 162px;
    text-align: center;
}

.home-spacing{
    margin: 32px 8px 32px 8px;
}

/*--Home page text--*/

#about-text, 
#home-reviews p {
    min-height: 250px;
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgba(232, 232, 232, 0.75);
}

#about-text h4, 
#home-reviews p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
    

/*---------------------------------------
Ensembles - Carousel
---------------------------------------*/


/*--Carousel text--*/

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.ensemb-carousel{
    padding: 40px 8px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgba(232, 232, 232, 0.75);
}

.ensemb-carousel h4{
    margin-bottom: 16px;
    text-align: center;
}

.ensemb-carousel a,
.ensemb-carousel p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.desktop-scb-description{
    margin: 0;
}

/*---------------------------------------
Contact page
---------------------------------------*/

/*--Contact Form--*/

#contact-details{
    margin-left: 8px;
}

.contact-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    
}

#contact-heading{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:#f5f5f5;
    text-transform: uppercase;
    letter-spacing: 1px; 
}

#contact-details input{
    margin: 6px 0px 6px 0px;
}

/*---------------------------------------
Media Queries
---------------------------------------*/

/*--------------------------------------------------iPad*/
@media only screen  
  and (max-height: 1366px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {

    /*--Contact page image--*/

    #contact-img{
        background-size: cover;
    }

    /*--Contact page heading--*/

    #contact-heading{
        background-color: rgba(51, 51, 51, 0.5);
        border-radius: 10px;
    }

}

@media (min-width: 800px) and (max-width: 1024px) {
    
    #home-style{
        padding-top: 260px;
    }

}


@media (min-width: 720px) and (max-width: 800px) {

    #home-style{
        padding-top: 200px;
    }
    
    .desktop-review{
        display: none;
    }

    .mobile-review-spacing{
        margin-top: 100px;
    }

}

@media (max-width: 720px) {

    /*--Header--*/
    
    #logo{
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;
        font-weight: 200;
        color: #333;
    }

    /*--Footer--*/


    #social-icons{
        padding-top: 20px;
    }

    #copyright-info,
    #copyright-info span{
        font-size: 1.1rem;
    }

    /*--Homepage body--*/

    .container-fluid{
        overflow: scroll;
    }

    .hero-home{
        height: 100vh;
    }

    /*--Home page about text and download btn--*/

    #about-text{
        padding: 21px 0px;
        font-size:20px;
    }

    #download-btn{
        margin: 25px 0px
    }

    /*--Home page reviews--*/

    .mobile-review{
        margin: 32px 0px 0px 0px;
    }

    .mobile-review-end{
        margin-bottom: 32px;
    }

    .desktop-review{
        display: none;
    }

    /*--Ensembles page images--*/

    .w-100 {
        width: 110%!important;
    }

    /*--Ensembles page carousel captions--*/

    /*-----------
    With thanks to Sebsemillia for .carousel-caption code on StackOverflow to center carousel captions vertically
    -----------*/

    .carousel-caption{
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: initial;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .desktop-scb-description{
        display: none;
    }

    /*--Ensembles page captions background--*/

    .ensemb-carousel{
        padding: 0;
        background-color: rgba(51, 51, 51, 0.75);
    }

    .ensemb-carousel h4{
        margin-bottom: 16px;
    }

    .ensemb-carousel a{
        font-size: 16px;
    }

    .ensemb-carousel p{
        margin: 0;
        font-size: 12px;
        text-decoration: none;
    }

    /*--Ensembles page contact button--*/

    .ensemb-contact-btn{
        margin:0;
        padding: 32px 0px 32px 0px;
        background-color: #f5f5f5;
    }

    .ensemb-contact-btn a{
        font-size: 12px;
    }

    .mobile-ensemb-contact-btn{
        display: initial;
    }

    .desktop-ensemb-contact-btn{
        display: none;
    }

    /*--Contact page image--*/


    #contact-img{
        background-position: center;
    }

    /*--Contact page text--*/

    #contact-heading{
        background-color: rgba(51, 51, 51, 0.5);
        border-radius: 10px;
    }
    
}